<div class="card">

  <div>
    <button type="button" class="btn btn-outline-danger" (click)="toProjects()">back to projects</button>
    <br>
  </div>
  <div class="product-list-item">
    <h1 class="product-name">#{{casee.id}}</h1>
    <img class="image" [src]="casee.image" [alt]="casee.id">
    <div class="product-description">{{casee.description}}</div>

    <h3 class="product-price">{{casee.nationality}}</h3>
    <h4 class="product-price">{{casee.governorate}}</h4>

    <div *ngIf="!casee.isDone">
      <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="percentage" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <div class="row">
        <div class="col-6" style="text-align: start;">
          <span class="product-price">Donation = {{casee.donation}} $</span>
        </div>
        <div class="col-6" style="text-align: end;">
          <span class="product-price">AmountNeeded = {{casee.amountNeeded}} $</span>
        </div>
      </div>
    </div>
    <div *ngIf="casee.isDone">
      <img  class="correct" src="assets/correct.png">
    </div>

  </div>
</div>
<app-donate *ngIf="!casee.isDone" [caseId]="casee.id" ></app-donate>
