.content-body {
  left: 0;
  right: 0;
  bottom: 0;
  top: 100px;
  padding: 2% 0;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.p-element .p-input-icon-left{
  margin:0;
}

:host ::ng-deep {
  position: absolute;

  .p-dataview-content  {
    margin: 3rem 10rem;
  }
  .search{
    padding-left : 2rem;
  }

  .p-input-icon-left{
    margin : auto;
  //width: 50%;
  }

  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .product-name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 1rem;

  &:hover {
     color: #3fbeb3;
   }
  }

  .product-grid-item-bottom{
    padding: 0 2rem 2rem 2rem;
  }

  .product-description {
      margin: 0 0 1rem 0;
  }

  .product-category-icon {
      vertical-align: middle;
      margin: .5rem;
  }

  .product-category {
      font-weight: 600;
      vertical-align: middle;
  }

  .p-selectbutton {
    .p-button.p-highlight:hover {
      background: rgba(63, 190, 179, 0.73);
      border-color: rgba(63, 190, 179, 0.73);
    }

    .p-button.p-highlight {
      background: #3fbeb3;
      border-color: #3fbeb3;
    }
  }

  .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    img {
      width: 35%;
      height: 200px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }

    .product-list-detail {
      flex: 1 1 0;
    }

    .p-rating {
      margin: 0 0 .5rem 0;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: .5rem;
      align-self: flex-end;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }

    .p-button {
      margin-bottom: .5rem;
    }

    .custom {
      margin-right: 20px;
      margin-bottom: 20px;
      width: 90%;
      height: 100PX;
    }

    .p-scrollpanel {
      p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
      }

      &.custom {
        .p-scrollpanel-wrapper {
          border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
          background-color: #3fbeb3;
          opacity: 1;
          transition: background-color .2s;

          &:hover {
            background-color: rgba(63, 190, 179, 0.73);
          }
        }
      }
    }
  }

  .product-grid-item {
    margin: 1rem;
    border: 1px solid #dee2e6;


    .product-grid-item-top,
    .product-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    img {
      width: 90%;
      //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      //margin: 2rem 0;
      height: 200px;
    }

    .product-grid-item-content {
      text-align: center;
    }

    .p-rating {
      padding-top: 1rem;
    }

    .product-price {
      font-size: 20px;
      font-weight: 600;
    }
    .p-scrollpanel {
      .p-scrollpanel-bar {
        background-color: #3fbeb3;
        opacity: 1;
        transition: background-color .2s;

        &:hover {
          background-color: rgba(63, 190, 179, 0.73);
        }
      }
    }
  }
}

.card {
//padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.footer{
  position: absolute;
  left: 0;
  right: 0;
}
