<div class="content-body">
  <p-dataView #dv [value]="projects"
              [lazy]="true" (onLazyLoad)="loadProjects($event)"
              [totalRecords]="totalRecords" [loading]="loading"
              filterBy="category"
              layout="grid"
              [paginator]="true" [rows]="12"
  >

    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search by Category" class="form-control search"
                   (input)="applyFilterGlobal($event, 'contains')" >
        </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>

    <ng-template let-project pTemplate="listItem">
      <div class="col-12">
        <div class="product-list-item">
          <img src="{{project.image}}" alt="{{project.title}}"/>
          <div (click)="showInfo(project.id)" class="product-list-detail">
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{project.category}}</span>
            <div class="product-name">{{project.title}}</div>
            <p-scrollPanel [style]="{ width: '100%', height: '150PX'}" styleClass="custom">
              <div class="product-description">{{project.details}}</div>
            </p-scrollPanel>
            <span class="product-price">{{project.place}}</span>
          </div>
          <div class="product-list-action">

          </div>
        </div>

      </div>
    </ng-template>

    <ng-template let-project pTemplate="gridItem">
      <div  class="main col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{project.category}}</span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <img [src]="project.image" [alt]="project.title" >
            <div (click)="showInfo(project.id)" class="product-name">{{project.title}}</div>

            <p-scrollPanel [style]="{width: '100%', height: '100PX'}" styleClass="custom">
              <div class="product-description">{{project.details}}</div>
            </p-scrollPanel>

          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">{{project.place}}</span>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-item pTemplate="paginatordropdownitem">
      <div class="paginator-item">
        {{item.value}} - per page
      </div>
    </ng-template>

  </p-dataView>
  <app-footer class="footer"></app-footer>

</div>
