
.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  /*margin-bottom: 2rem;*/
  margin: auto;
  /*justify-content: center;*/
}


.product-list-item img{
  width: 50%;
  top: 0;
  height: 400px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);

  margin-bottom:10px;
  /*height: 450px ;*/

}

.text{
  padding-left:1.5rem;
  padding-right:-1rem;
}
.product-name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 1rem;
}

.product-list-item {
  align-items: unset;
  display: flex;
//align-items: center;
//padding: 1rem 0rem;
  width: 100%;


.p-rating {
  margin-top: 10px;
}
}
.p-scrollpanel {
  width: 50%;
p {
  padding: .5rem;
  line-height: 1.5;
  margin: 0;
}

&.custom {
.p-scrollpanel-wrapper {
  border-right: 9px solid var(--layer-1);
}

.p-scrollpanel-bar {
  background-color: #3fbeb3;
  opacity: 1;
  transition: background-color .2s;

  &:hover {
     background-color: #3fbeb3;
     opacity:1;
   }
}
}
}
