<h1>{{user.id == null ? 'Add' : 'Edit'}} User - {{user.id}}</h1>
<form>

  <span *ngIf="checked">
    <p-message severity="error" text="{{msgs}}" (click)="checked=false ;"></p-message>
  </span>
  <span *ngIf="isExist">
    <p-message severity="error" text="{{msgs}}" (click)="user.email = '' ; isExist=false ;"></p-message>
  </span>
  <table>

    <tr><i class="fa fa-user"></i>User Name</tr>
    <tr><input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
    </tr>

    <tr><i class="fa fa-envelope"></i>E-mail</tr>
    <tr><input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email">
    </tr>

    <tr><i class="fa fa-shield"></i>Admin/User</tr>
    <tr><input type="text" class="form-control" id="type" [(ngModel)]="user.type" name="type">
    </tr>

    <tr><i class="fa fa-lock"></i>Password</tr>
    <tr><input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
    </tr>

  </table>
  <br>
  <button #btn type="button" class="btn btn-success" (click)="addUser()">
<!--    <i *ngIf="clicked" class="pi pi-spin pi-spinner"></i>-->
    Save
  </button>
</form>
