<mat-nav-list  style="background: #fff">
  <div class="navbar-brand">
    <div class="logo">
      <img src="assets/logo.png" alt="human&charity" routerLink="/home">
    </div>
<!--  </div>-->
<!--  <mat-divider></mat-divider>-->
<!--  <div class="navbar-brand">-->
    <div style="position: absolute; top: 105px; background: #0f172a; width: 100%;">
      <h2 matSubheader class="mt-2">APPLICATIONS</h2>
      <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item routerLink="/admin/users" routerLinkActive="list-item-active">
        <mat-icon>supervisor_account</mat-icon> Users
      </a>
      <a mat-list-item routerLink="/admin/projects" routerLinkActive="list-item-active">
        <mat-icon>list_alt</mat-icon> Projects
      </a>
      <a mat-list-item routerLink="/admin/case" routerLinkActive="list-item-active">
        <mat-icon>list_alt</mat-icon> Cases
      </a>
    </div>
  </div>
</mat-nav-list>
