<div class="card text">

  <div class="row" style="padding: 0 40px">
    <h2 class="mbr-section-title mbr-semibold mbr-white mbr-fonts-style display-1"
        style="color:#3fbeb3">human<span style="color:#f0513e">&charity</span></h2>
    <div class="col-8">
      <h5 class="mbr-section-subtitle mbr-regular mbr-white mbr-fonts-style mbr-pt-3 display-7">
        Charity brings to life again those who are spiritually dead.
      </h5>
    </div>
    <div class="col-4" style="text-align: end; align-self: center;">
      <button type="button" class="btn btn-info" style ="background-color: #3fbeb3; color:#fff"
              (click)="handleDonate()"> Donate Now</button>
    </div>
  </div>
</div>
