<h1>Projects' Donations</h1>
<p-table [value]="projectsDonations" dataKey="title" responsiveLayout="scroll">
  <ng-template pTemplate="header" >
    <tr>
      <th>ID</th>
      <th>Donor</th>
      <th>Account</th>
      <th>Amount</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-donation>
    <tr>
      <td>{{donation.id}}</td>
      <td>{{donation.donor}}</td>
      <td>{{donation.account}}</td>
      <td>{{donation.amount}}</td>
    </tr>
  </ng-template>
</p-table>

<h1>Cases' Donations</h1>
<p-table [value]="casesDonations" dataKey="title" responsiveLayout="scroll">
  <ng-template pTemplate="header" >
    <tr>
      <th>ID</th>
      <th>Donor</th>
      <th>Account</th>
      <th>Amount</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-donation>
    <tr>
      <td>{{donation.id}}</td>
      <td>{{donation.donor}}</td>
      <td>{{donation.account}}</td>
      <td>{{donation.amount}}</td>
    </tr>
  </ng-template>
</p-table>
