<div class="content-body">
  <p-dataView #dv [value]="cases"
              [lazy]="true" (onLazyLoad)="loadProjects($event)"
              [totalRecords]="totalRecords" [loading]="loading"
              filterBy="id"
              layout="grid"
              [paginator]="true" [rows]="12"
  >

    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <button type="button" class="btn btn-info" style="background-color: #3fbeb3; color: #fff"
                (click)="AddCase()">Add Case</button>

        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Case Code" class="form-control search"
                 (input)="applyFilterGlobal($event, 'contains')" >
        </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>

    <ng-template let-case pTemplate="listItem">
      <div class="col-12">
        <div class="product-list-item">
          <img src="{{case.image}}" alt="{{case.id}}"/>
          <div (click)="showInfo(case.id)" class="product-list-detail">
            <div class="product-name">{{case.id}}</div>
            <p-scrollPanel [style]="{ width: '100%', height: '150PX'}" styleClass="custom">
              <div class="product-description">{{case.description}}</div>
            </p-scrollPanel>
            <div class="row product-grid-item-bottom" style="padding: 0 2rem 0 2rem;">
              <div class="col-6">
                <span class="product-price">Target</span>
              </div>
              <div class="col-6">
                <span class="product-price">Donation</span>
              </div>
            </div>

            <div class="row product-grid-item-bottom">
              <div class="col-6">
                <span class="product-price">{{case.amountNeeded}}</span>
              </div>
              <div class="col-6">
                <span class="product-price">{{case.donation}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-template>

    <ng-template let-case pTemplate="gridItem">
      <div  class="main col-12 md:col-4">
        <div class="product-grid-item card">
          <img [src]="case.image" [alt]="case.id" >
          <div class="product-grid-item-content">
            <div (click)="showInfo(case.id)" class="product-name">{{case.id}}</div>

            <p-scrollPanel [style]="{width: '100%', height: '100PX'}" styleClass="custom">
              <div class="product-description">{{case.description}}</div>
            </p-scrollPanel>

          </div>
          <div class="row product-grid-item-bottom" style="padding: 0 2rem 0 2rem;">
            <div class="col-6">
              <span class="product-price">Target</span>
            </div>
            <div class="col-6">
              <span class="product-price">Donation</span>
            </div>
          </div>

          <div class="row product-grid-item-bottom">
            <div class="col-6">
              <span class="product-price">{{case.amountNeeded}}</span>
            </div>
            <div class="col-6">
              <span class="product-price">{{case.donation}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-item pTemplate="paginatordropdownitem">
      <div class="paginator-item">
        {{item.value}} - per page
      </div>
    </ng-template>

  </p-dataView>
  <app-footer class="footer"></app-footer>

</div>

<p-dialog [(visible)]="showAddCaseDialoge"
          (onHide)="cancel()"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '50vw'}"
          [transitionOptions]="'0ms'"
          header="Case"
>
  <app-addcase [casee]="selectedCase" (caseAddedEvent)="refreshData()"></app-addcase>

</p-dialog>
