
<p-table [value]="cases" dataKey="title" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Donation</th>
        <th>image</th>
        <th>Amount Needed</th>
        <th>Place</th>
        <th>Approved</th>
        <th>isDone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-case >
      <tr>
        <td>{{case.id}}</td>
        <td>{{case.donations}}</td>
        <td><img [src]="case.image" [alt]="case.id" width="100" class="shadow-4" /></td>
        <td>{{case.amountNeeded}}</td>
        <td>{{case.governorate}}</td>
        <td>{{case.approved}}</td>
        <td>{{case.isDone}}</td>
      </tr>
    </ng-template>
</p-table>
